<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 style="margin-left: 20px">Gestion de usuarios</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3>Parametros de busqueda</h3>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary" (click)="getByName()">
              Consultar
            </button>
                        <button class="btn btn-primary" style="margin-left: 20px" (click)="clearFields()">
              Limpiar
            </button>
                        <hr />
                        <form class="form-inline">
                            <div class="form-group mx-sm-3 mb-2">
                                <label for="busqueda" class="sr-only">Ingrese un nombre</label>
                                <input type="text" class="form-control" id="busqueda" name="busqueda" [(ngModel)]="finder" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <br />

            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3>Users</h3>
                    </div>
                    <div class="card_body">
                        <br />
                        <button class="btn btn-info" id="btn-crear">crear</button>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Rol</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios" (click)="seleccionarUsuario(usuario)">
                                    <td>{{ usuario.userId }}</td>
                                    <td>{{ usuario.userName }}</td>
                                    <td>{{ usuario.userState ? "ACTIVO" : "INACTIVO" }}</td>
                                    <td>{{ usuario.rol.nameRol }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br />

            <div class="container">
                <div class="card">
                    <div clas="card-head">
                        <h3 id="h3-margin">Informacion de usuario</h3>
                    </div>

                    <div class="card-body">
                        <button class="btn btn-info" (click)="createUser()">Guardar</button>
                        <button class="btn btn-info space-in-button" (click)="updateUser()">
              Editar
            </button>
                        <button class="btn btn-info space-in-button" (click)="deleteUser()">
              Eliminar
            </button>
                        <hr />
                        <form [formGroup]="formUsuario">
                            <div class="form-group">
                                <label for="formGroupExampleInput">id</label>
                                <input type="text" class="form-control" id="formGroupExampleInput" name="id" formControlName="id" />
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput2">Nombre</label>
                                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="nombre" name="nombre" />
                            </div>
                            <div class="form-group">
                                <label for="disabledSelect">Rol</label>
                                <select [compareWith]="compareByName" id="disabledSelect" class="form-control" formControlName="rol" name="rol">
                  <option [ngValue]="null" selected disabled>
                    Elija una opción
                  </option>
                  <option *ngFor="let rol of roles" [ngValue]="rol">
                    {{ rol.nameRol }}
                  </option>
                </select>
                            </div>
                            <div>
                                <label>Activo</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estado" id="exampleRadios1" value="true" formControlName="estado" />
                                    <label class="form-check-label" for="exampleRadios1">
                    Si
                  </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="estado" id="exampleRadios2" value="false" formControlName="estado" />
                                    <label class="form-check-label" for="exampleRadios2">
                    No
                  </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>